*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    padding: 30px;
    padding-right: 0px;
    width: 100vw;
     
}
.logo_bar{
    margin-left: -50px;
}
#nav_bar{
    font-size: 30px;
}
#nav_logo{
    height: 60px;
    width: auto;
    margin-left: 3px;
    margin-top: -15px;
}
input{
    height: 30px;
    width: 350px;
    margin-right: 0px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1.5px solid black;
    padding: 10px;
    margin-left: 70px;
}
button{
    height: 30px;
    width: 40px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
    background-color: green;
}
#location-icon{
    font-size: 35px;
    margin-left: 400px;
}
select{
    border: 0px transparent;
    margin-left: 0px;
}
#user{
    font-size: 20px;
    margin-left: 80px
}
a{
    margin-left: 5px;
    font-style: ;
    color: green;
}
#cart{
    font-size: 30px;
    margin-left: 80px;
    margin-right: 40px;
}
.banner{
    font-size: small;
    width: 100%;
    height: 300px;
    background-image: url(banner.webp);
}
h1{
    text-decoration: underline;
    margin-top: 50px;
    margin-left: 40px;
}
.product_list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
}
.product{
    border-radius: 30px;
    border: 2px solid black;
    height: 300px;
    width: 200px;
    margin-top: 30px;
}
.order-now{
    width: 200px;
    height: 40px;
    background-color: #007D1F;
    margin-top: 260px;
    /* border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; */
    border-radius: 30px;
    text-align: center;
    color: white;
    padding-top: 15px;
    font-size: larger;
}
.product1{
    background-image: url(product1.webp);
    background-size:contain;
}
.product-name{
    height: 40px;
    width: 180px;
    background-color: white;
    margin-top: 100px;
}
.product2{
    background-image: url(product2.webp);
    background-size: contain;
}
.product3{
    background-image: url(product3.webp);
    background-size:contain;
}
.product4{
    background-image: url(product4.webp);
    background-size: contain;
}
.product5{
    background-image: url(product5.webp);
    background-size: contain;
}
.product6{
    background-image: url(product6.webp);
    background-size:contain;
}
.product7{
    background-image: url(product7.webp);
    background-size: contain;
}
.product8{
    background-image: url(product8.webp);
    background-size:contain;
}
.product9{
    background-image: url(product9.webp);
    background-size: contain;
}
.product10{
    background-image: url(product10.webp);
    background-size: contain;
}
.product11{
    background-image: url(product11.webp);
    background-size:contain;
}
.product12{
    background-image: url(product12.webp);
    background-size: contain;
}
.product13{
    background-image: url(product13.webp);
    background-size:contain;
}
.product14{
    background-image: url(product14.webp);
    background-size: contain;
}
.product15{
    background-image: url(product15.webp);
    background-size: contain;
}
.happy-customer{
    height: 50px;
    width: 90vw;
    background-color: #12DDAC;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-top: 50px;
    text-align: center;
    margin-left: 60px;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 15px;
}
.review{
    display: flex;
}
.review-box{
    width: 300px;
    height: 350px;
    background-color: #00FFD1;
    margin: 80px;
    padding: 20px;

}
.last-container{
    background-color: #00E8FF;
    width: 100vw;
    height: 200px;
}
.last-container{
    margin-top: 30px;
}
.certified{
   text-align: center;
   padding: 30px;
   font-size: xx-large;
   color: #005B17;

}
.certified-icon{
    text-align: justify;
    margin-top: 30px;
}
#icon{
    height: 30px;
    width: 70px;
    margin-left: 150px;
}
